<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Fonteawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- CSS -->
     <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Main contenitor -->
    <main id="app">
        <section class=" bg-down">
            <div class="bg-white">
                <!-- chats section left -->
                <div class="left">
                    <!-- Profile of owner of boozapp -->
                    <div id="owner_profile">
                        <div class="img_profile_utenti">
                            <img src="img/Profilo 1.jpg" alt="Foto profilo">   
                            <h3 class="name">Marco</h3>
                        </div>
                        <span class="icone">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        </span>
                    </div>
                    <!-- Notification -->
                    <div class="notification">
                            <i class="fa-solid fa-bell-slash campana"></i>
                        <div class="text">
                            <div>Ricevi notifiche di nuovi messaggi </div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- serching chat bar -->
                    <div class="search_bar">
                        <button>
                            <i class="fa-solid fa-magnifying-glass glass"></i>
                        </button>
                        <div class="input_search">
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchQuery">
                        </div>
                    </div>
                    <!-- Contact chat -->
                     <div class="contenitor_contact">                        
                        <div class="contact" v-for="(contact, index) in filteredContacts" @click="chatOn(index)">
                            <div class="profilo_contatti">
                                <img :src="contact.avatar" alt="Foto profilo">   
                            </div>
                            <div class="info_contatti">
                                <h3 class="name">{{contact.name}}</h3>
                                <div class="ultimo_messaggio">
                                    Ultimo messaggio inviato 
                                </div>
                            </div>
                            <span class="ora">12:00</span>
                        </div>
                    </div>
                </div>

                <!--  Message section right -->
                <div class="right">
                    <div class="chat_message_other">
                        <div class="img_profile_utenti">
                            <img :src="contacts[activeChat].avatar" alt="Foto profilo"> 
                            <div class="info_contact"> 
                                <span class="name">{{contacts[activeChat].name}}</span>
                                <div class="accesso">Ultimo accesso alle: {{contacts[activeChat].messages[0].date}}</div>
                            </div>  
                        </div>
                        
                        <span class="icone">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        </span>
                    </div>
                    <!-- Conversation chat -->
                    <div class="chat-messages">
                        <div class="message_chat" :class="message.status === 'sent' ? 'sent' : 'received'" v-for="message in contacts[activeChat].messages">{{message.message}}</div>
                    </div>
                    <div class="chat-input">
                        <i class="fa-regular fa-face-smile input_cone"></i>
                        <input type="text" placeholder="Type a message..." v-model="newMessage" @keyup.enter="addMessage">
                        <i class="fa-solid fa-microphone input_cone"></i>
                    </div>
                </div>
            </div>
        </section>

    </main>
    
    
    <script src="main.js"></script>
</body>
</html>
