*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* stiling main*/
body{
    background-color: #009688;
}
.bg-down{
    height: calc(100vh - 150px);
    margin-top: 150px;
    background-color: rgb(155, 155, 155);
    position: relative;
}
.bg-white{
    width: 90%;
    background-color: white;
    min-height: 100px;
    position: absolute;
    top: -70px;
    left: 5vw;
}

/* Chat section left */
#owner_profile{
    width: 50%;
}
.img_profile_utenti{
    width: 100%;
    height: 50px;
}
.img_profile_utenti > img{
  width: 4rem;    
}
.icone{
   
}