*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* stiling main*/
body{
    background-color: #009688;
}
.bg-down{
    height: calc(100vh - 150px);
    margin-top: 150px;
    background-color: rgb(155, 155, 155);
    position: relative;
}
.bg-white{
    width: 90%;
    background-color: white;
    min-height: 95vh;
    position: absolute;
    top: -125px;
    left: 5vw;
    display: flex;
}
/* /////////////////////////////////////////////////////////////////////////////// */
/* Chat section left principal setting*/
.left{
    width: 40%;
}
#owner_profile{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_profile_utenti{
  display: flex;
  align-items: center;
}
.img_profile_utenti > img{
  width: 3.5rem;    
}
.icone{
   padding-right: 0.5rem;
   display: flex;
   gap: 0.5rem;
}
/* Notification */
.notification{
    background-color: rgb(95, 201, 237);
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap:0.7rem;
}
.campana{
    background-color: white;
    color: rgb(95, 201, 237);
    font-size: 25px;
    border-radius: 60px;
    padding: 0.5rem 0.5rem;
    margin-left: 0.5rem;
}

/* search chat name */
.search_bar{
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    width: 100%;
}
.search_bar > button, .input_search input{
    background-color: white;
    border: solid 0.01rem rgb(188, 185, 185);
    color: rgb(188, 185, 185);
    width: 15%;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}
.glass{
    font-size: 1rem;
}

.input_search{
    width: 85%;
}
.input_search input{
    width: 95%;
}
/* Contact chat */
.contact{
    position: relative;
    display: flex;
    gap: 0.5rem;
}
.profilo_contatti{
    width: 10%;
}
img{
    width: 100%;
    border-radius: 50%;
}
.ultimo_messaggio, .ora{
    color: rgb(152, 152, 152);
}
.contact span{
    justify-content: flex-end;
} 
.ora{
    position: absolute;
    right: 10px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* setting chat message right section*/
.right{
    width: 60%;
}
.chat_message_other{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-messages{
    background-image: url(img/wall\ paper.png);
    background-size: contain;
    height: calc(95vh - 100px);
    display: flex;
    flex-direction: column;
}
/* conversation */
.message {
    padding: 5px 10px;
    margin: 5px 30px;
    border-radius: 5px;
    width: 40%;
}
.received {
    background-color: #f0f0f0;

}
.sent {
    background-color: #DCF8C6;
    align-self: flex-end;
}
.chat-input {
    width: 100%;
    height: 40px;
    background-color: rgb(244 235 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-input input{
    width: 86%;
    font-size: 15px;
}

.input_cone{
    width: 7%;
    font-size: 15px;
    text-align: center;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

















